<div class="row">
  <div class="container form ak-form">
    <form action='/coins'>
      <div class="row">
        <label for='money' class='ak-label'>How much money do you have?</label>
      </div>
      <div class="row">
        <input name='money' id='money' type='text' class='ak-input-money'>
      </div>
      <div class="row">
        <button class='btn-success btn'>Make Change For This</button>
      </div>
    </form>
  </div>
</div>
