<!DOCTYPE html>
<html>
<head>
  <title>Coin Combo!</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container ak-main-container">
    <h1 class="ak-title">Coin Combo!</h1>
    <%= yield %>
  </div>
</body>
</html>
